<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home paget</title>
</head>
<body>
    <nav>
        <a href="{{url_for('fun_1')}}">index</a>
        <a href="{{url_for('fun_2')}}">thankyou</a>
    </nav>
    <h1>enter your details</h1>

    <form action="{{ url_for('fun_2') }}"method='post'>
        <label>name</label>
        <input type='text' name = 'in_1'> <br/>     <br/>
        <label>age</label>
        <input type = 'text' name = 'in_2'> <br/>      <br/>
        <button>Register</button>
</body>
</html>