<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regex</title>
</head>
<body >
    <form action='' method = 'POST' style='text-align: center';>
        <h1>REGEX 420</h1>
        <label>target</label>
        <textarea type='text' name='in_1'></textarea><br> <br>
        <label>regex</label>
        <input type='text' name= 'in_2'>    
        <button style =  'background-color: white;color: rgb(65, 20, 187);border: 2px solid #4CAF50;'>APPLY</button><br>  
        <label>matched-{{lst}}</label><br> 
        <label>number of matches-{{lst1}}</label>
    </form>


</body>
</html>