{% extends 'layout.html' %}

{% block title %}
Home Page
{% endblock %}

{% block body %}

<h1 style="color:rgb(96, 98, 235);text-align:center;">URL SHORTENER</h1>
<form method='post' style="text-align:center;">
    <label>enter your url -</label>
    <input type="text" name="in_1" placeholder="Enter original URL" >
    <button >Shorten</button> <br> <br>
</form>

<form style="text-align:center;">
    <label>shortened url -</label>
    <textarea rows="0.5" cols="8">{{short_url}}</textarea>
    <button  onClick = "{{ c }}" >Copy</button>
</form>
<form style="text-align:center;">
<label style="text-align:center" >{{o}} -- {{short_url}}</label>
</form>
{% endblock %}
